<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="static/mdui/1.0.2/css/mdui.min.css"/>
    <style>
        html {
            /*平滑滚动*/
            scroll-behavior: smooth;
        }
        .fixed {
            position: fixed;
        }
    </style>
</head>
<body class="mdui-theme-primary-blue mdui-theme-accent-blue mdui-p-t-1">

<div class="mdui-row" style="margin: 0">
    <div class="mdui-col-lg-10">
        <div class="mdui-typo">
            <p>11111111111111111111111111</p>
            <ul>
                <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="checked"
                                                  disabled="disabled" readonly="readonly"/>&nbsp;dd
                </li>
                <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled"
                                                  readonly="readonly"/>&nbsp;xxx
                </li>
            </ul>
            <h2><a href="#首先升级yum-yum-update" id="首先升级yum-yum-update">首先升级yum <code>yum update</code></a></h2>
            <h2><a href="#查看已安装的mysql" id="查看已安装的mysql">查看已安装的MySQL</a></h2>
            <pre><code class="language-shell">[root@centos7 ~]# rpm -qa | grep -i mysql
mysql80-community-release-el7-3.noarch
mysql-community-client-8.0.22-1.el7.x86_64
mysql-community-common-8.0.22-1.el7.x86_64
mysql-community-server-8.0.22-1.el7.x86_64
mysql-community-client-plugins-8.0.22-1.el7.x86_64
mysql-community-libs-8.0.22-1.el7.x86_64
</code></pre>
            <h2><a href="#卸载" id="卸载">卸载</a></h2>
            <pre><code class="language-shell">[root@centos7 ~]# yum remove -y mysql*
Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-manager

This system is not registered with an entitlement server. You can use subscription-manager to register.

No Match for argument: mysql80-community-release-el7-3.noarch.rpm
No Packages marked for removal
</code></pre>
            <p>有可能碰到上面所示的提示，此时先卸载“mysql80-community-release-el7-3.noarch”</p>
            <pre><code class="language-shell">[root@centos7 ~]# yum -y remove mysql80-community-release-el7-3.noarch
Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-manager

This system is not registered with an entitlement server. You can use subscription-manager to register.

Resolving Dependencies
--&gt; Running transaction check
---&gt; Package mysql80-community-release.noarch 0:el7-3 will be erased
--&gt; Finished Dependency Resolution

Dependencies Resolved

============================================================================================================================================================================================================================================================================================================================================
 Package                                                                                        Arch                                                                        Version                                                                    Repository                                                                      Size
============================================================================================================================================================================================================================================================================================================================================
Removing:
 mysql80-community-release                                                                      noarch                                                                      el7-3                                                                      installed                                                                       31 k

Transaction Summary
============================================================================================================================================================================================================================================================================================================================================
Remove  1 Package

Installed size: 31 k
Downloading packages:
Running transaction check
Running transaction test
Transaction test succeeded
Running transaction
  Erasing    : mysql80-community-release-el7-3.noarch                                                                                                                                                                                                                                                                                   1/1
  Verifying  : mysql80-community-release-el7-3.noarch                                                                                                                                                                                                                                                                                   1/1

Removed:
  mysql80-community-release.noarch 0:el7-3

Complete!

</code></pre>
            <p>再卸载其他</p>
            <pre><code class="language-shell">[root@centos7 ~]# yum -y remove mysql-*
Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-manager

This system is not registered with an entitlement server. You can use subscription-manager to register.

Resolving Dependencies
--&gt; Running transaction check
---&gt; Package mysql-community-client.x86_64 0:8.0.22-1.el7 will be erased
---&gt; Package mysql-community-client-plugins.x86_64 0:8.0.22-1.el7 will be erased
---&gt; Package mysql-community-common.x86_64 0:8.0.22-1.el7 will be erased
---&gt; Package mysql-community-libs.x86_64 0:8.0.22-1.el7 will be erased
---&gt; Package mysql-community-server.x86_64 0:8.0.22-1.el7 will be erased
--&gt; Finished Dependency Resolution

Dependencies Resolved

============================================================================================================================================================================================================================================================================================================================================
 Package                                                                                       Arch                                                                  Version                                                                        Repository                                                                         Size
============================================================================================================================================================================================================================================================================================================================================
Removing:
 mysql-community-client                                                                        x86_64                                                                8.0.22-1.el7                                                                   @mysql80-community                                                                230 M
 mysql-community-client-plugins                                                                x86_64                                                                8.0.22-1.el7                                                                   @mysql80-community                                                                1.0 M
 mysql-community-common                                                                        x86_64                                                                8.0.22-1.el7                                                                   @mysql80-community                                                                8.9 M
 mysql-community-libs                                                                          x86_64                                                                8.0.22-1.el7                                                                   @mysql80-community                                                                 22 M
 mysql-community-server                                                                        x86_64                                                                8.0.22-1.el7                                                                   @mysql80-community                                                                2.3 G

Transaction Summary
============================================================================================================================================================================================================================================================================================================================================
Remove  5 Packages

Installed size: 2.6 G
Downloading packages:
Running transaction check
Running transaction test
Transaction test succeeded
Running transaction
  Erasing    : mysql-community-server-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               1/5
  Erasing    : mysql-community-client-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               2/5
  Erasing    : mysql-community-libs-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                                 3/5
  Erasing    : mysql-community-common-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               4/5
  Erasing    : mysql-community-client-plugins-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                       5/5
  Verifying  : mysql-community-client-plugins-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                       1/5
  Verifying  : mysql-community-common-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               2/5
  Verifying  : mysql-community-client-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               3/5
  Verifying  : mysql-community-libs-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                                 4/5
  Verifying  : mysql-community-server-8.0.22-1.el7.x86_64                                                                                                                                                                                                                                                                               5/5

Removed:
  mysql-community-client.x86_64 0:8.0.22-1.el7                     mysql-community-client-plugins.x86_64 0:8.0.22-1.el7                     mysql-community-common.x86_64 0:8.0.22-1.el7                     mysql-community-libs.x86_64 0:8.0.22-1.el7                     mysql-community-server.x86_64 0:8.0.22-1.el7

Complete!
</code></pre>
            <p>删除剩余的MySQL相关文件和文件夹</p>
            <pre><code class="language-shell">[root@centos7 ~]# find / -name mysql
</code></pre>
            <h2><a href="#重新安装" id="重新安装">重新安装</a></h2>
            <p>CentOS7好像没有MySQL的源，取而代之是内部集成的MariaDB。<a href="https://dev.mysql.com/downloads/repo/yum/">官网下载</a>MySQL的RPM源，安装成功后会自动覆盖MariaDB。下载完成后上传到服务器。
            </p>
            <pre><code class="language-shell">-rw-r--r-- 1 root root 26024 Jan  3 17:46 mysql80-community-release-el7-3.noarch.rpm
</code></pre>
            <h3><a href="#安装repo并更新yum缓存" id="安装repo并更新yum缓存">安装repo并更新yum缓存</a></h3>
            <pre><code class="language-shell">rpm -ivh mysql80-community-release-el7-3.noarch.rpm
</code></pre>
            <p>执行后会在<code>/etc/yum.repos.d/</code>下生成两个repo文件</p>
            <pre><code class="language-shell">[root@centos7 ~]# ll /etc/yum.repos.d/ | grep mysql
-rw-r--r-- 1 root root 2076 Apr 25  2019 mysql-community.repo
-rw-r--r-- 1 root root 2108 Apr 25  2019 mysql-community-source.repo
</code></pre>
            <h3><a href="#刷新yum" id="刷新yum">刷新yum</a></h3>
            <pre><code class="language-shell">yum clean all | yum makecache
</code></pre>
            <h3><a href="#查看yum中的mysql版本" id="查看yum中的mysql版本">查看yum中的MySQL版本</a></h3>
            <pre><code class="language-shell">[root@centos7 ~]# yum repolist all | grep mysql
mysql-cluster-7.5-community/x86_64        MySQL Cluster 7.5 Comm disabled
mysql-cluster-7.5-community-source        MySQL Cluster 7.5 Comm disabled
mysql-cluster-7.6-community/x86_64        MySQL Cluster 7.6 Comm disabled
mysql-cluster-7.6-community-source        MySQL Cluster 7.6 Comm disabled
mysql-cluster-8.0-community/x86_64        MySQL Cluster 8.0 Comm disabled
mysql-cluster-8.0-community-source        MySQL Cluster 8.0 Comm disabled
mysql-connectors-community/x86_64         MySQL Connectors Commu enabled:    175
mysql-connectors-community-source         MySQL Connectors Commu disabled
mysql-tools-community/x86_64              MySQL Tools Community  enabled:    120
mysql-tools-community-source              MySQL Tools Community  disabled
mysql-tools-preview/x86_64                MySQL Tools Preview    disabled
mysql-tools-preview-source                MySQL Tools Preview -  disabled
mysql55-community/x86_64                  MySQL 5.5 Community Se disabled
mysql55-community-source                  MySQL 5.5 Community Se disabled
mysql56-community/x86_64                  MySQL 5.6 Community Se disabled
mysql56-community-source                  MySQL 5.6 Community Se disabled
mysql57-community/x86_64                  MySQL 5.7 Community Se disabled
mysql57-community-source                  MySQL 5.7 Community Se disabled
mysql80-community/x86_64                  MySQL 8.0 Community Se enabled:    211
mysql80-community-source                  MySQL 8.0 Community Se disabled
</code></pre>
            <p>MySQL8已启用</p>
            <p>可用命令<code>yum-config-manager --disable mysql80-community</code>或<code>yum-config-manager --enable
                mysql80-community</code>管理状态</p>
            <p>或直接编辑<code>/etc/yum.repos.d/mysql-community.repo</code></p>
            <h3><a href="#开始安装mysql" id="开始安装mysql">开始安装MySQL</a></h3>
            <pre><code class="language-shell">yum -y install mysql-community-server
</code></pre>
            <p>完成后开启服务</p>
            <pre><code class="language-shell">systemctl start mysqld
</code></pre>
            <p>设置开机自启</p>
            <pre><code class="language-shell">systemctl enable mysqld
</code></pre>
            <h3><a href="#登录mysql" id="登录mysql">登录MySQL</a></h3>
            <p>查看初始密码</p>
            <pre><code class="language-shell">[root@centos7 ~]# grep 'temporary password' /var/log/mysqld.log
2021-01-03T09:56:56.709802Z 6 [Note] [MY-010454] [Server] A temporary password is generated for root@localhost: Mu6Vr.s1EwsB
</code></pre>
            <p>登录</p>
            <pre><code class="language-shell">mysql -uroot -pMu6Vr.s1EwsB
</code></pre>
            <p>修改密码</p>
            <pre><code class="language-sql">ALTER USER 'root'@'localhost' IDENTIFIED BY 'custom-password';
</code></pre>
            <p>若要远程连接</p>
            <pre><code class="language-sql">-- 创建一个可以远程登陆的root用户
CREATE USER 'jojo'@'%' IDENTIFIED WITH mysql_native_password BY 'CUSTOM-PASSWORD';
</code></pre>
            <pre><code class="language-sql">--- 为账户开放权限
grant all privileges on *.* to 'jojo'@'%';
flush privileges;
</code></pre>
            <h2><a href="#放行端口" id="放行端口">放行端口</a></h2>
            <h3><a href="#使用centos7默认的firewall" id="使用centos7默认的firewall">使用CentOS7默认的firewall</a></h3>
            <p>开启firewalld</p>
            <pre><code class="language-shell">systemctl start firewalld | systemctl enable firewalld
</code></pre>
            <p>永久开放端口3306</p>
            <pre><code class="language-shell">firewall-cmd --permanent --zone=public --add-port=3306/tcp
</code></pre>
            <p>重新加载使之生效</p>
            <pre><code class="language-shell">firewall-cmd --reload
</code></pre>
            <p>查看当前开放的端口</p>
            <pre><code class="language-shell">firewall-cmd --permanent --zone=public --list-ports
</code></pre>
            <h3><a href="#或者使用iptables" id="或者使用iptables">或者使用iptables</a></h3>
            <p>关闭firewalld服务</p>
            <pre><code class="language-shell">systemctl stop firewalld | systemctl disable firewalld | systemctl mask firewalld
</code></pre>
            <p>没有安装iptables之前<code>/etc/sysconfig/</code>下是没有<code>iptables</code>文件的，所有要先安装iptables</p>
            <pre><code class="language-shell">yum -y install iptables-services
</code></pre>
            <p>启动iptables服务</p>
            <pre><code class="language-shell">systemctl enable iptables | systemctl start iptables
</code></pre>
            <p>推荐直接<code>vim</code>编辑<code>/etc/sysconfig/iptables</code></p>
            <pre><code class="language-shell"># sample configuration for iptables service
# you can edit this manually or use system-config-firewall
# please do not ask us to add additional ports/services to this default configuration
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 80 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 443 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 3306 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 3389 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 1000 -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
</code></pre>
            <p>重启iptables</p>
            <pre><code class="language-shell">systemctl restart iptables
</code></pre>

        </div>
    </div>
    <div class="mdui-col-lg-2">
        <div class="mdui-typo fixed">
            <ul>
                <li><a href="#首先升级yum-yum-update">首先升级yum <code>yum update</code></a></li>
                <li><a href="#查看已安装的mysql">查看已安装的MySQL</a></li>
                <li><a href="#卸载">卸载</a></li>
                <li><a href="#重新安装">重新安装</a>
                    <ul>
                        <li><a href="#安装repo并更新yum缓存">安装repo并更新yum缓存1234567898765</a></li>
                        <li><a href="#刷新yum">刷新yum</a></li>
                        <li><a href="#查看yum中的mysql版本">查看yum中的MySQL版本</a></li>
                        <li><a href="#开始安装mysql">开始安装MySQL</a></li>
                        <li><a href="#登录mysql">登录MySQL</a></li>
                    </ul>
                </li>
                <li><a href="#放行端口">放行端口</a>
                    <ul>
                        <li><a href="#使用centos7默认的firewall">使用CentOS7默认的firewall</a></li>
                        <li><a href="#或者使用iptables">或者使用iptables</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<button class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent" onclick="backTop()">
    <i class="mdui-icon material-icons">&#xe5c7;</i>
</button>

<script src="static/mdui/1.0.2/js/mdui.min.js"></script>
<script src="static/mdui-jq/2.0.1/jq.min.js"></script>
<script>
    let $ = JQ
    backTop = () => {
        document.body.scrollTop = document.documentElement.scrollTop = 0
    }
</script>
</body>
</html>